.couple-bg-icon {
    position: absolute;
}

.heart1 {
    right: 0;
    top: 40%;
    transform: rotate(-18.086deg) translate(50%);
    filter: blur(12px);
}

.heart2 {
    left: 0;
    top: 40%;
    transform: rotate(-18.086deg) translate(-50%);
    filter: blur(12px);
}

.heart3 {
    left: 0;
    top: 20%;
    transform: rotate(18.086deg) translate(0%);
    filter: blur(6px);
}

.heart4 {
    right: 15%;
    top: 15%;
    transform: rotate(-18.086deg) translate(0%);
    filter: blur(3px);
}


.couple-bg-icon.v1 > * {
    fill: rgba(206, 114, 111, 0.64);
}

.couple-bg-icon.v2 > * {
    fill: rgba(252, 224, 223, 0.88);
}

.couple-image {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    padding: 0;
    height: inherit;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
    pointer-events: none;
}

.couple-title {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

.couple-overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(74, 74, 74, 0.9) 0%, rgba(252, 224, 223, 0.00) 95%);
    height: 50%;
    width: 100dvw;
    left: 0;
}

.first-name {
    position: absolute;
    top: 10%;
    z-index: 10;
    left: 40%;
    translate: -50% 0;
    overflow: visible;
}

.last-name {
    position: absolute;
    overflow: visible;
    top: 30%;
    left: 40%;
    translate: -50% 0;
    z-index: 0;
}


.svg-inline--fa.transition {
    transition: font-size 300ms ease-in-out;
}

.top-navbar-button.active {

}