.couple-image {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    padding: 0;
    height: inherit;
    left: 50%;
    translate: -50% 0;
}

.couple-title {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

.couple-overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(74, 74, 74, 0.9) 0%, rgba(252, 224, 223, 0.00) 95%);
    height: 50%;
    width: 100dvw;
    left: 0;
}

.svg-inline--fa.transition {
    transition: font-size 300ms ease-in-out;
}

.top-navbar-button.active {

}