.background-typo {
    position: absolute;
    color: var(--clr-secondary, #D6A09E);
    font-family: "Luxurious Script", sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date-top-navbar {
    display: flex;
    width: 326px;
    justify-content: space-between;
}

.date-option {
    display: flex;
    border-radius: var(--radius-s);
    /* background-color: red; */
    box-shadow: var(--shadow-button);
    overflow: hidden;
}

.date-option .button {
    border-radius: unset;
    border: unset;
    /* background-color: unset; */
    /* box-shadow: unset; */
}

.row {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.flex {
    display: flex;
}

.date-location-wrapper {
    min-height: initial;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

    border-radius: 32px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

@media (height < 800px) {
    .date-location-wrapper {
        gap: 12px;
    }

    .date-location-wrapper img {
        max-width: 124px;
    }

    .date-location-wrapper .button {
        margin-top: 0;
        padding: 0 8px;
    }

    .date-location-wrapper .location-box,
    .date-location-wrapper .date-box {
        flex-basis: unset;
        padding: 0;
    }

    .date-location-wrapper .location-address {
        font-size: 14px;
    }
}
