.parent-box {
    position: relative;
    margin: 0 auto;
    background-color: #F00;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.children {
    width: 100px;
    height: 100px;
    background-color: blue;
}