
.family-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 48px;
    overflow: hidden;
}

.family-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    background-color: var(--clr-background);
}

.family-card > .family-image {
    max-width: 100%;
}

.family-card > .family-name {
    margin-top: 16px;
}


.carousel-navigator-container {
    z-index: 99999;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
}