
.family-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*padding-bottom: 48px;*/
    overflow: hidden;
}

.family-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 20.6px 0 rgba(0, 0, 0, 0.25);
}

.image-wrapper {
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 1);*/
    overflow: hidden;
}

.image-wrapper:hover {
    background-color: #000;
    /*z-index: 99999999;*/
}

.family-card .family-image {
    min-width: 100%;
    min-height: 100%;
}

.family-image:hover {
    transform: scale(1.2);
}

.family-card .family-name {
    margin-top: 16px;
}

.carousel-navigator-container {
    z-index: 7;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
}