.bg-container {
    width: 100%;
    max-width: 360px;

    /*overflow: hidden;*/
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.background {
    position: absolute;
    top: 0;
    left: 50%;
    width: clamp(360px, 100%, 400px);
    height: 100%;
    transform: translate(-50%);
}

.circle-effect {
    position: absolute;
    width: 200px;
    height: 200px;

    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(206, 114, 111, 0.43) 4.5%, rgba(115, 115, 115, 0.00) 100%);
    filter: blur(25px);
}

.translate-right {
    transform: translateX(50%) scale(2);

}

.translate-left {
    transform: translateX(-50%) scale(2);
}

.home-image-container {
    --each-image-gap: 16px;
    --image-column: 2;
    --image-width: calc((100% - (var(--each-image-gap) * var(--image-column))) / var(--image-column));
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--each-image-gap);
}


.home-gallery-image {
    background-color: #6a2d3c;
    box-shadow: var(--shadow-base);
    width: var(--image-width);
    border-radius: 8px;
    height: fit-content; /* heightnya disini nanti tergantung image*!*/
    object-fit: cover;
}
