.letter-section-layout {
    padding: 16px 0 16px !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.letter-back-button {
    position: relative;
    top: 16px;
}

.letter {
    background-image: url("../assets/images/letter-paper.png");
    background-size: cover;
    position: relative;

    height: 100%;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: var(--shadow-base);
}

.letter-content {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: var(--pad-base);
    top: 0;
    z-index: 999;
}

.letter-bismillah {
    object-fit: contain;

    max-width: 100%;
    /*padding: 8px;*/
}

.letter-greeting {
    font-family: "Century725 Cn BT", sans-serif;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.letter-verse {
    color: #000;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    font-family: "Times New Roman", sans-serif;
    line-height: normal;
}

@media (height < 668px) {
    .letter-bismillah {
        height: 50px;
        /*scale: 0.8;*/
        /*height: 60px;*/

        /*width: ;*/
        /*aspect-ratio: 16/7;*/
    }

    .letter-paragraph > span {
        font-size: 12px;
    }
}

.letter-paragraph {
    color: #000;
    text-align: justify;

    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.letter-close-greeting {
    color: #000;
    font-family: "Times New Roman", sans-serif;
    align-self: flex-start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.letter-closing {
    font-family: "Century725 Cn BT", sans-serif;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.letter-couple {
    font-family: "luxurious script", sans-serif;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.letter-bg {
    object-fit: cover;
    height: 110%;
    width: 110%;
    position: absolute;
}
