.icon {
    height: var(--icon-sz);
    width: var(--icon-sz);
    margin: auto;

    fill: var(--clr-secondary);
}

.date-icon {
    width: 233px;
    height: 181px;
    background-color: aqua;
}

.icon.active {
    fill: var(--clr-secondary);
}
